body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: auto;
    background-color: #000;
    background: url('../img/mexico.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    transition: all .5s linear;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 10px;
    border: white 3px solid;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: whitesmoke;
    font-family: 'Pacifico', cursive;
}

header h1:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
}

section .panel:hover div p {
    opacity: 1;
    background-color: rgba(0, 0, 0, .6);
}

section .panel:hover {
    transform: scale(1.2);
}

section .panel div:hover p {
    cursor: pointer;
}

section {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    z-index: -1;
    opacity: 1;
}

section .panel {
    color: white;
    text-align: center;
    align-items: center;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
}

.panel1 {
    background-image: url("../img/visit.jpg");
}

.panel2 {
    background-image: url("../img/eat.jpg");
}

.panel3 {
    background-image: url("../img/pack.jpg");
}

.panel4 {
    background-image: url("../img/read.jpg");
}

section .panel>* {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .panel div p {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 10px;
    border: white 3px solid;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: whitesmoke;
    font-family: 'Pacifico', cursive;
}